CLERK_SECRET_KEY=your_secret_key
CLERK_AUTHORIZED_PARTIES=http://localhost:3000

app_name="L API"
web_app_url=http://localhost:3000

# AI API KEY
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXXXXXX
GROQ_MODEL=openai/gpt-oss-20b